<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">

    <title>matchmaker</title>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-light bg-light">
      <a class="navbar-brand" href="#">matchmaker</a>
      <a class="btn btn-outline-success" type="submit" href="/login">Login</a>
    </nav>
    <img src="static/images/couple-1_1024x683.jpg" class="img-fluid w-100"/>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12" align="center">
          <h1 class="lead pt-3 pb-3 text-success">
            Fact: Every 23 minutes, matchmaker helps someone to find the right one.
          </h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-2" align="center">
          <img src="static/images/testimonial-1.png" width="125px"/>
          <p>"I do not want to spend time with guys that are not what I'm looking for."<br>
          <span class="text-info">#Lana</span>
        </div>
        <div class="col-2" align="center">
          <img src="static/images/testimonial-2.png" width="125px"/>
          <p>"To find your other half you need more than fate, you need a tool."<br>
          <span class="text-info">#Jon</span>
        </div>
        <div class="col-2" align="center">
          <img src="static/images/testimonial-3.png" width="125px"/>
          <p>"Why to swipe left or right when you can go straight to true love?"<br>
          <span class="text-info">#Priyanka</span>
        </div>
        <div class="col-2" align="center">
          <img src="static/images/testimonial-4.png" width="125px"/>
          <p>"Matchmaker is pure magic. It helped me to find my sweetheart."<br>
          <span class="text-info">#Jacob</span>
        </div>
        <div class="col-2" align="center">
          <img src="static/images/testimonial-5.png" width="125px"/>
          <p>"I was skeptical at first but I could not believe the results once I tried."<br>
          <span class="text-info">#Cindy</span>
        </div>
        <div class="col-2" align="center">
          <img src="static/images/testimonial-6.png" width="125px"/>
          <p>"I am looking for a relationship, not just another boring date."<br>
          <span class="text-info">#Christopher</span>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
